.block_poodllclassroom {
    color: #00cc00;
}
.block_poodllclassroom_triggerbutton {
    color: #002f8f;
    margin: 10px;
    padding: 10px;
}

.block_poodllclassroom_formtitle {
    font-weight: bold;
}
.block_poodllclassroom_forminstructions {
    /*something*/
}

.block_poodllclassroom_settingstile .btn {
    min-width: 150px;
    margin-top: 10px;
}
.block_poodllclassroom_userlist_cont{

}
.block_poodllclassroom_nousers_cont {
   /* text-align: center; */
    margin-top: 10px;
}
/*
.d-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.align-items-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.tl-onboarding-end-item-cont {
    padding: 1em 0 0;
}

@media (min-width: 700px)
    .tl-onboarding-end-item {
        height: 100%;
    }

.tl-onboarding-end-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    background: white;
    -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 8px solid transparent;
    overflow: hidden;
    cursor: pointer;
}

    .tl-onboarding-end-item_img {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .tl-onboarding-end-item_content {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        padding: 0 2em;
        text-align: center;
        font-size: 16px;
        line-height: 1.4;
        word-break: break-word;
    }

    @media (min-width: 900px)
        .tl-onboarding-end-item_content {
            font-size: 18px;
        }

@media (min-width: 700px)
    .tl-onboarding-end-item-cont {
        padding: 1em;
    }

    @media (min-width: 700px)
        .tl-onboarding-form-col, .tl-onboarding-end-item-cont {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 50%;
            -moz-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }

        .d-col {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
*/