.block_poodllclassroom {
   /* color: #00cc00; */
}
.block_poodllclassroom_triggerbutton {
    color: #002f8f;
    margin: 10px;
    padding: 10px;
}

.block_poodllclassroom_formtitle {
    font-weight: bold;
}
.block_poodllclassroom_forminstructions {
    /*something*/
}

.block_poodllclassroom_settingstile .btn {
    min-width: 150px;
    margin-top: 10px;
}
.block_poodllclassroom_userlist_cont{

}
.block_poodllclassroom_nousers_cont {
   /* text-align: center; */
    margin-top: 10px;
}
.block_poodllclassroom_changeplan_cont,
.block_poodllclassroom_newplan_cont {
    margin: 10px;
}
.block_poodllclassroom_billingheader{
    margin-top: 10px;
}

.block_poodllclassroom_flexbox {
    display: flex;
}
.block_poodllclassroom_hidden {
    display: none;
}
.block_poodllclassroom_courseitem {
    margin: 10px;
    text-align: center;
}
.block_poodllclassroom_options {
    text-align: right;
}
.block_poodllclassroom_nosubscription {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}
.block_poodllclassroom_returntotop {
    text-align: center;
}
.block_poodllclassroom_uploaduser_btn_cnt,
.block_poodllclassroom_createuser_btn_cnt {
    margin-right: 10px;
    margin-bottom: 10px;
}