<a href="{{{checkouturl}}}?schoolid={{school.id}}&planfamily={{planfamily}}&platform={{platform}}"
 class="btn btn-secondary block_poodllclassroom_opencheckout">{{#str}}addnewsubscription, block_poodllclassroom{{/str}}</a>