{{#platform_MOODLE}}
    <div class="priceplan_header">{{#str}} pricesandplans, block_poodllclassroom {{/str}}</div>
    <!-- div class="border checkout_header_moodle">
        <div class="part1">
            {{#pix}} hero_moodle, block_poodllclassroom {{/pix}}
        </div>
        <div class="part2">
            <h4>{{#str}} aboutmoodle, block_poodllclassroom {{/str}}</h4>
            <p>{{#str}} aboutmoodleline, block_poodllclassroom {{/str}}</p>
        </div>
        <div class="part3">
            <h4>{{#str}} featuresmoodle, block_poodllclassroom {{/str}}</h4>
            <p>{{#str}} featuresmoodleline, block_poodllclassroom {{/str}}</p>
        </div>
    </div -->
{{/platform_MOODLE}}
{{#platform_LTI}}
    <div class="priceplan_header">{{#str}} pricesandplans, block_poodllclassroom {{/str}}</div>
    <div class="border checkout_header_lti">
        <div class="part1">
            {{#pix}} hero_lti, block_poodllclassroom {{/pix}}
        </div>
        <div class="part2">
            <h4>{{#str}} aboutlti, block_poodllclassroom {{/str}}</h4>
            <p>{{#str}} aboutltiline, block_poodllclassroom {{/str}}</p>
        </div>
        <div class="part3">
            <h4>{{#str}} pluginslti, block_poodllclassroom {{/str}}</h4>
            <p>{{#str}} pluginsltiline, block_poodllclassroom {{/str}}</p>
        </div>
    </div>
{{/platform_LTI}}