{{#platform_MOODLE}}

    <div class="border checkout_header_moodle">
        <div class="priceplan_header">{{#str}} pricesandplans, block_poodllclassroom {{/str}}</div>

    </div>
{{/platform_MOODLE}}
{{#platform_LTI}}
    <div class="border checkout_header_lti">
        <div class="priceplan_header">{{#str}} pricesandplans, block_poodllclassroom {{/str}}</div>

    </div>
{{/platform_LTI}}