
<div id="block_poodllclassroom_classroomsubslist_cont" class="block_poodllclassroom_classroomsubslist_cont" style="display: {{display}};">
    <h3 class="block_poodllclassroom_subslist_title">{{#str}}classroomsubs, block_poodllclassroom{{/str}}</h3>
        {{#subs}}
            <div>Site URL: {{extra.siteurl}}</div>
            <div>Admin User: {{extra.adminuser}}</div>
            <div>Admin email: {{extra.adminemail}}</div>
            <hr>
        {{/subs}}
</div>