
<div id="block_poodllclassroom_classroomsubslist_cont" class="block_poodllclassroom_classroomsubslist_cont" style="display: {{display}};">
    <h4 class="block_poodllclassroom_subslist_title">{{#str}}classroomsubs, block_poodllclassroom{{/str}}</h4>
    {{^hassubs}}{{#str}}classroomsubs_none, block_poodllclassroom{{/str}}<br>{{/hassubs}}
    {{> block_poodllclassroom/checkoutpagebutton}} <br>
{{#hassubs}}
        {{#subs}}
            <div>Site URL: {{extra.siteurl}}</div>
            <div>Admin User: {{extra.adminuser}}</div>
            <div>Admin email: {{extra.adminemail}}</div>
            <hr>
        {{/subs}}
{{/hassubs}}
</div>