<div id="block_poodllclassroom_courselist_cont" class="block_poodllclassroom_courselist_cont block_poodllclassroom_flexbox {{display}}">
    {{#courses}}
        {{> block_poodllclassroom/courseitem}}
    {{/courses}}
</div>