<div id="block_poodllclassroom_courselist_cont" class="block_poodllclassroom_courselist_cont" style="display: {{display}};">
    {{#courses}}
        {{> block_poodllclassroom/courseitem}}
    {{/courses}}
</div>