<div id="block_poodllclassroom_courseitem_{{id}}" class="block_poodllclassroom_courseitem" style="border: 1px solid black; width: 200px; padding: 15px;">
    <div class="block_poodllclassroom_coursename"><a href="{{wwwroot}}/course/view.php?id={{id}}">{{coursename}}</a></div> <a href="#" class="block_poodllclassroom_courseeditlink" data-id="{{id}}" data-type="edit" alt="{{#str}}edit, block_poodllclassroom{{/str}}">{{#pix}}i/edit{{/pix}}</a>
   <!-- a href="#" class="block_poodllclassroom_courseenrollink" data-id="{{id}}" data-type="enrol">{{#str}}enrol, block_poodllclassroom{{/str}}</a -->
   <a href="{{wwwroot}}/blocks/poodllclassroom/enroluser.php?courseid={{id}}" class="block_poodllclassroom_courseenrollink" data-id="{{id}}" data-type="enrol" alt="{{#str}}enrol, block_poodllclassroom{{/str}}">{{#pix}}i/enroluser{{/pix}}</a>
   <a href="#" class="block_poodllclassroom_coursedeletelink" data-id="{{id}}" data-name="{{coursename}}" data-type="delete" alt="{{#str}}delete, block_poodllclassroom{{/str}}">{{#pix}}i/trash{{/pix}}</a>
</div>