<a href="#" class="btn btn-secondary block_poodllclassroom_newplan block_poodllclassroom_gocbcheckout block_poodllclassroom_flexbox {{#alreadytaken}}disabled{{/alreadytaken}}" {{#selected}}tabindex="-1"{{/selected}}
   data-method="get_checkout_new"
   data-schoolid="{{schoolid}}"
   data-planid="{{planid}}"
   data-currency="{{currency}}"
   data-billinginterval="{{billinginterval}}">{{#str}}chooseplan, block_poodllclassroom{{/str}}</a>
