  <nav id="dashboard-backwards-navigation">
    <ul class="nav">
      <li class="nav-item">
        {{! RS - URL is hardcoded, should be composed first in the renderer ( $CFG->wwwroot . '/my/') and use a conditional mustache expression here evaluating the resulting variable }}
        <a class="nav-link go-back-link" href="https://misc.poodll.com/rp/my/">Back to Dashboard</a>
      </li>
    </ul>
  </nav>