  <nav id="dashboard-backwards-navigation">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link go-back-link" href="{{returnurl}}">Back to Dashboard</a>
      </li>
    </ul>
  </nav>
