  <nav id="dashboard-side-navigation">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link current-subscription-link" href="#current-subscription">Current Subscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link subscription-details-link" href="#subscription-details">Subscription Details</a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link edit-school-details-link" href="#edit-school-details">Edit School Details</a>
      </li-->
      <li class="nav-item">
        <a class="nav-link payment-methods-link" href="#payment-methods">Payment Methods</a>
      </li>
    </ul>
  </nav>