  <nav id="dashboard-side-navigation">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link my-school-details-link" href="#my-school-details">{{#str}}myschooldetails, block_poodllclassroom{{/str}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-api-and-secret-key-link" href="#my-api-and-secret-key">{{#str}}apicredentials, block_poodllclassroom{{/str}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link subscription-details-link" href="#subscription-details">{{#str}}allschoolsubs, block_poodllclassroom{{/str}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link billing-link" href="#billing">Billing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link usage-report-link" href="#usage-report">{{#str}}usagereport, block_poodllclassroom{{/str}}</a>
      </li>
    </ul>

      <ul class="nav">
          {{#options}}
          <li class="nav-item">
              <a class="nav-link my-school-details-link" href="{{{url}}}">{{label}}</a>
          </li>
          {{/options}}
      </ul>
  </nav>
