        <div class="footer_note">
            {{#platform_MOODLE}}
                <p>{{#str}} footnotemoodle, block_poodllclassroom {{/str}}</p>
            {{/platform_MOODLE}}
            {{#platform_LTI}}
                <p>{{#str}} footnotelti, block_poodllclassroom {{/str}}</p>
            {{/platform_LTI}}
            <p class="supportlink">{{#str}} needmoreusers, block_poodllclassroom, {{{supportlink}}} {{/str}}</p>
        </div>
    </section>
</section>