<div id="block_poodllclassroom_freeplans_cont" class="block_poodllclassroom_freeplans_cont center block_poodllclassroom_flexbox {{billinginterval}} {{display}}">
    <!--div class="poodllclassroom_flexbox_inner">
        {{#platform_LTI}}
            {{#pix}} freebglti, block_poodllclassroom {{/pix}}
        {{/platform_LTI}}
        {{#platform_MOODLE}}
            {{#pix}} freebgmoodle, block_poodllclassroom {{/pix}}
        {{/platform_MOODLE}}
    </div-->
    <div class="block_poodllclassroom_flexbox_inner">
            <!--div class="poodllclassroom_flexbox_img" style="display: none">
                {{#pix}} freeicon, block_poodllclassroom {{/pix}}
            </div>
            <span class="block_poodllclassroom_plansintro">{{#str}}freeplansintro, block_poodllclassroom{{/str}}</span-->
            {{#plans}}
                {{> block_poodllclassroom/freeplantile}}
            {{/plans}}
    </div>
</div>
