<div class="block_poodllclassroom_billingheader {{billinginterval}} {{display}}"><h3>{{billingintervallabel}}</h3></div>
<span class="block_poodllclassroom_plansintro">{{#str}}freeplansintro, block_poodllclassroom{{/str}}</span>
<div id="block_poodllclassroom_freeplans_cont" class="block_poodllclassroom_freeplans_cont center block_poodllclassroom_flexbox {{billinginterval}} {{display}}">
    {{#plans}}
            {{> block_poodllclassroom/freeplantile}}
    {{/plans}}
</div>
