
<div id="block_poodllclassroom_ltisubslist_cont" class="block_poodllclassroom block_poodllclassroom_ltisubslist_cont poodleclassblock" style="display: {{display}};">
    <h4 class="block_poodllclassroom_subslist_title">{{#str}}ltisubs, block_poodllclassroom{{/str}}</h4>
    <div class="sub_checkoutbutton">{{> block_poodllclassroom/checkoutpagebutton}} </div>
    <div class="subs_desciption">
        {{#hassubs}}{{#str}}ltisubs_intro, block_poodllclassroom{{/str}}<br>{{/hassubs}}
        {{^hassubs}}{{#str}}ltisubs_none, block_poodllclassroom{{/str}}<br>{{/hassubs}}
    </div>
    {{#hassubs}}
        {{#subs}}
            <div class="bpc_moodlesubsrow">
                <div class="bpc_col-1">{{#str}}name, block_poodllclassroom{{/str}}</div> <div class="bpc_col-2">{{plan.name}}</div>
            </div>
            <div class="bpc_ltisubsrow">
                <div class="bpc_col-1 ">{{#str}}cartridgeurl, block_poodllclassroom{{/str}}</div>
                <div class="bpc_col-2 " id="cartridgeurl_{{id}}" data-clipboard-text="{{extra.cartridgeurl}}">{{extra.cartridgeurl}}</div>
                <div class="bpc_col-3 "><a class="btn btn-info poodllclassroom_clipboardbutton" data-clipboard-action="copy"
                                           data-clipboard-target="#cartridgeurl_{{id}}">{{#str}}copy, block_poodllclassroom{{/str}}</a></div>
                <div class="bpc_col-4 bpc_copied" style="display: none">{{#str}}copied, block_poodllclassroom{{/str}}</div>
            </div>
            <div class="bpc_ltisubsrow">
                <div class="bpc_col-1 ">{{#str}}consumerkey, block_poodllclassroom{{/str}}</div>
                <div class="bpc_col-2 " id="consumerkey_{{id}}" data-clipboard-text="{{extra.consumerkey}}">{{extra.consumerkey}}</div>
                <div class="bpc_col-3 "><a class="btn btn-info poodllclassroom_clipboardbutton" data-clipboard-action="copy"
                                           data-clipboard-target="#consumerkey_{{id}}">{{#str}}copy, block_poodllclassroom{{/str}}</a></div>
                <div class="bpc_col-4 bpc_copied" style="display: none">{{#str}}copied, block_poodllclassroom{{/str}}</div>
            </div>
            <div class="bpc_ltisubsrow">
                <div class="bpc_col-1 ">{{#str}}consumersecret, block_poodllclassroom{{/str}}</div>
                <div class="bpc_col-2 " id="consumersecret_{{id}}" data-clipboard-text="{{extra.consumersecret}}">{{extra.consumersecret}}</div>
                <div class="bpc_col-3 "><a class="btn btn-info poodllclassroom_clipboardbutton" data-clipboard-action="copy"
                                           data-clipboard-target="#consumersecret_{{id}}">{{#str}}copy, block_poodllclassroom{{/str}}</a></div>
                <div class="bpc_col-4 bpc_copied" style="display: none">{{#str}}copied, block_poodllclassroom{{/str}}</div>
            </div>
            <hr>
        {{/subs}}
        {{> block_poodllclassroom/ltitutorials}}
    {{/hassubs}}
</div>