
<div id="block_poodllclassroom_ltisubslist_cont" class="block_poodllclassroom_ltisubslist_cont" style="display: {{display}};">
    <h3 class="block_poodllclassroom_subslist_title">{{#str}}ltisubs, block_poodllclassroom{{/str}}</h3>
        {{#subs}}
            <div>Course Name: {{plan.name}}</div>
            <div>Cartridge URL: {{extra.cartridgeurl}}</div>
            <div>Consumer Key: {{extra.consumerkey}}</div>
            <div>Consumer Secret: {{extra.consumersecret}}</div>
            <hr>
        {{/subs}}
</div>
<hr>