<span class="block_poodllclassroom_ltitutsintro">{{#str}}ltitutsintro, block_poodllclassroom{{/str}}</span>
<div id="block_poodllclassroom_ltituts_cont" class="block_poodllclassroom_ltituts_cont center block_poodllclassroom_flexbox">
    {{#ltituts.ltitut}}
        {{> block_poodllclassroom/ltitut}}
    {{/ltituts.ltitut}}
</div>