<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{logourl}}" alt="{{title}}">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{instructions}}</p>
        <a href="{{tuturl}}" class="btn btn-primary">{{#str}}read, block_poodllclassroom{{/str}}</a>
        {{#videoid}}{{> block_poodllclassroom/watchthevideo}}{{/videoid}}
    </div>
</div>