
<div id="block_poodllclassroom_{{containertag}}_cnt" role="dialog" aria-hidden="true" tabindex="-1" class="block_poodllclassroom_{{containertag}}_cnt hidden modal fade">
    {{>block_poodllclassroom/modalcontent}}
</div>