
<div id="block_poodllclassroom_moodlesubslist_cont" class="block_poodllclassroom_moodlesubslist_cont" style="display: {{display}};">
        <h3 class="block_poodllclassroom_subslist_title">{{#str}}moodlesubs, block_poodllclassroom{{/str}}</h3>
        <div>School Name: {{school.name}}</div>
        {{#school.siteurls}}
            <div>Site URL: {{.}}</div>
        {{/school.siteurls}}
        {{^school.siteurls}}
            {{#str}}nositeurls, block_poodllclassroom{{/str}}
        {{/school.siteurls}}

        <div id="{{school.apiuser}}_user">API User: {{school.apiuser}}</div>
        <div id="{{school.apiuser}}_secret">API Secret: {{school.apisecret}}</div>
        <a class="btn btn-info poodllclassroom_clipboardbutton" data-clipboard-action="copy" data-clipboard-target="#{{school.apiuser}}_secret">Copy</a>

<hr>
        <a href="{{{editschoolurl}}}">{{#str}}editsitedetails, block_poodllclassroom{{/str}}</a>

</div>
<hr>