<!-- div class="block_poodllclassroom_billingheader {{billinginterval}} {{display}}"><h3>{{billingintervallabel}}</h3></div -->
<h4>{{#str}}mediaplans, block_poodllclassroom{{/str}}</h4>
<span class="block_poodllclassroom_plansintro">{{#str}}mediaplansintro, block_poodllclassroom{{/str}}</span>
<div id="block_poodllclassroom_mediaplans_cont" class="block_poodllclassroom_moodleplans_cont center block_poodllclassroom_flexbox {{billinginterval}} {{display}}">
    {{#mediaplans}}
        {{#checkoutexisting}}
            {{> block_poodllclassroom/upgradetile}}
        {{/checkoutexisting}}
        {{^checkoutexisting}}
            {{> block_poodllclassroom/newplantile}}
        {{/checkoutexisting}}
    {{/mediaplans}}
</div>
<h4>{{#str}}langplans, block_poodllclassroom{{/str}}</h4>
<span class="block_poodllclassroom_plansintro">{{#str}}languagesplansintro, block_poodllclassroom{{/str}}</span>
<div id="block_poodllclassroom_langplans_cont" class="block_poodllclassroom_moodleplans_cont center block_poodllclassroom_flexbox {{billinginterval}} {{display}}">
    {{#langplans}}
        {{#checkoutexisting}}
            {{> block_poodllclassroom/upgradetile}}
        {{/checkoutexisting}}
        {{^checkoutexisting}}
            {{> block_poodllclassroom/newplantile}}
        {{/checkoutexisting}}
    {{/langplans}}
</div>
<h4>{{#str}}essentialsplans, block_poodllclassroom{{/str}}</h4>
<span class="block_poodllclassroom_plansintro">{{#str}}essentialsplansintro, block_poodllclassroom{{/str}}</span>
<div id="block_poodllclassroom_essentialsplans_cont" class="block_poodllclassroom_moodleplans_cont center block_poodllclassroom_flexbox {{billinginterval}} {{display}}">
    {{#essentialsplans}}
        {{#checkoutexisting}}
            {{> block_poodllclassroom/upgradetile}}
        {{/checkoutexisting}}
        {{^checkoutexisting}}
            {{> block_poodllclassroom/newplantile}}
        {{/checkoutexisting}}
    {{/essentialsplans}}
</div>
<h4>{{#str}}englishcentralplans, block_poodllclassroom{{/str}}</h4>
<span class="block_poodllclassroom_plansintro">{{#str}}englishcentralplansintro, block_poodllclassroom{{/str}}</span>
<div id="block_poodllclassroom_englishcentralplans_cont" class="block_poodllclassroom_moodleplans_cont center block_poodllclassroom_flexbox {{billinginterval}} {{display}}">
    {{#englishcentralplans}}
        {{#checkoutexisting}}
            {{> block_poodllclassroom/upgradetile}}
        {{/checkoutexisting}}
        {{^checkoutexisting}}
            {{> block_poodllclassroom/newplantile}}
        {{/checkoutexisting}}
    {{/englishcentralplans}}
</div>
