<div class="{{display}}">
    <!--<div class="block_poodllclassroom_billingheader {{billinginterval}} {{display}}"><h3>{{billingintervallabel}}</h3></div>-->
    <div class="plan-pack ltiplans_main">
        <div class="plan-pack-inner ltiplans">
            <h4>{{#str}}ltiplans, block_poodllclassroom{{/str}}</h4>
            <span class="block_poodllclassroom_plansintro">{{#str}}ltiplansintro, block_poodllclassroom{{/str}}</span>
            <a href="https://poodll.com/lti/" target="_blank">{{#str}}readmore, block_poodllclassroom{{/str}}</a>
        </div>
        <div id="block_poodllclassroom_newplans_cont" class="block_poodllclassroom_newplans_cont center block_poodllclassroom_flexbox {{billinginterval}} {{display}}">
            {{#plans}}
                {{#checkoutoutexisting}}
                    {{> block_poodllclassroom/upgradetile}}
                {{/checkoutoutexisting}}
                {{^checkoutoutexisting}}
                    {{> block_poodllclassroom/newplantile}}
                {{/checkoutoutexisting}}
            {{/plans}}
        </div>
    </div>

</div>
