<div id="block_poodllclassroom_newplanitem_{{id}}" class="block_poodllclassroom_newplan_cont">

   <a href="#" class="btn btn-primary block_poodllclassroom_newplan block_poodllclassroom_gocbcheckout block_poodllclassroom_flexbox {{#disabled}}disabled{{/disabled}}" {{#selected}}tabindex="-1"{{/selected}}
      data-method="get_checkout_new" data-schoolid="{{schoolid}}" data-planid="{{id}}" data-currency="{{currency}}" data-billinginterval="{{billinginterval}}">{{#str}}chooseplan, block_poodllclassroom{{/str}}
   </a>
</div>