
<div id="block_poodllclassroom_nocourses_cont" class="block_poodllclassroom_nocourses_cont" style="display: {{display}};">
    <div class="center"><h4>{{#str}}nocoursesheader, block_poodllclassroom{{/str}}</h4></div>
    <div class="center">{{#str}}nocoursessinfo, block_poodllclassroom{{/str}}</div>
</div>
