
<div id="block_poodllclassroom_nousers_cont" class="block_poodllclassroom_nousers_cont" style="display: {{display}};">
    <div class="center">{{#str}}nousersinfo, block_poodllclassroom{{/str}}</div>
</div>
