
<div id="block_poodllclassroom_nousers_cont" class="block_poodllclassroom_nousers_cont" style="display: {{display}};">
    <div class="center"><h4>{{#str}}nousersheader, block_poodllclassroom{{/str}}</h4></div>
    <div class="center">{{#str}}nousersinfo, block_poodllclassroom{{/str}}</div>
</div>
