{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_poodllclassroom/optionsdropdown

    This template renders the options dropdown

    Example context (json):
    {}
}}
<div class="introblock poodleclassblock">
    <h2 class="block_poodllclassroom_userheader">Admin User school</h2> <!-- static name added -->

    <div class="dropdown block_poodllclassroom_options">

        <button type="button" class="btn btn-outline-secondary dropdown-toggle icon-no-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                aria-label="{{#str}} poodllclassroomoptions, block_poodllclassroom {{/str}}" aria-controls="poodllclassroomoptions">
            {{#str}} poodllclassroomoptions, block_poodllclassroom {{/str}}
            <!-- {{#pix}} i/settings {{/pix}} -->
        </button>
        <div id="poodllclassroomoptions" role="menu" class="dropdown-menu">
            {{#options}}
            <a
                class="dropdown-item"
                href="{{{url}}}"
                aria-label="{{label}}"
                data-upstreamownerid="{{upstreamownerid}}"
                data-type="{{type}}"
                data-cbaction="{{cbaction}}"
                role="menuitem"
            >
                {{label}}
            </a>
            {{/options}}
        </div>
    </div>
    {{> block_poodllclassroom/introdescription}}
</div>