Hi {{first_name}},

Thank you for signing up with Poodll for Platforms. In this email you will find your Poodll for Platforms LTI details. These are also available at the Poodll Member Dashboard where you can upgrade and manage subscriptions also. You should have received an email with instructions for accessing the Poodll member dashboard when you first signed up with Poodll

LTI Credentials.
------------------
Set your API user and secret in the settings page of each Poodll plugin that you install.

Cartridge/Tool URL: {{ltidetails.toolurl}}
Consumer key: {{ltidetails.consumerkey}}
Consumer Secret: {{ltidetails.secret}}

Documentation for using your LTI credentials:
--------------------------------------------

Moodle users
--------------
Setting up Poodll for Platforms on Moodle
https://support.poodll.com/en/support/solutions/articles/19000125439-setting-up-poodll-lti-on-your-moodle-site

Using Poodll for Platforms on Moodle
https://support.poodll.com/en/support/solutions/articles/19000125448-using-poodll-lti-on-your-moodle-site

Canvas users:
---------------
Setting up Poodll for Platforms on Canvas
https://support.poodll.com/en/support/solutions/articles/19000125450-setting-up-poodll-lti-on-canvas-lms

Using Poodll for Platforms on Canvas
https://support.poodll.com/en/support/solutions/articles/19000125452-using-poodll-lti-on-canvas-lms



If you have any questions please send them to: support@poodll.freshdesk.com


Justin Hunt
The Poodll Guy
