Hi {{first_name}},

Thank you for signing up with Poodll. Your account information is below. Please reply to this email if you have questions.

On your Moodle site
-------------------
{{#startsiteurl}}
Your Moodle Site URL: {{#startsiteurl}}
{{/startsiteurl}}
Your API user: {{apiuser}}
Your API secret: {{apisecret}}

On the Poodll Member Dashboard
----------------
Login with username or email
Your username: {{username}}
Your email: {{email}}
Your password: {{password}}

Justin Hunt
The Poodll Guy