Hi {{first_name}},

Thank you for signing up with Poodll. In this email you will find instructions and your account information. If your Moodle site
URL is not listed below, then please visit the Poodll Member Dashboard and register it.


On your Moodle site.
--------------------
Set your API user and secret in the settings page of each Poodll plugin that you install.

Registered Moodle Site: {{#startsiteurl}} {{{startsiteurl}}} {{/startsiteurl}}{{^startsiteurl}} [ Please register your site ]{{/startsiteurl}}

Your API user: {{apiuser}}
Your API secret: {{apisecret}}

Do you know which plugins you want to use? You can find them all at:
https://moodle.org/plugins/index.php?q=poodll


See the Getting Started documentation here:
https://support.poodll.com/en/support/solutions/articles/19000093860-getting-started-with-poodll

On the Poodll Member Dashboard.
-------------------------------
On the Poodll Member Dashboard you can register site URLs, upgrade your subscription, manage invoices and check your Poodll usage
report. Login with either your username or email, and your password.

Dashboard URL: https://member.poodll.com/my/

Username: {{username}}
Registered email: {{email}}
Password: {{password}}

If you have any questions please send them to: support@poodll.freshdesk.com


Justin Hunt
The Poodll Guy
