Hi {{first_name}},

Thank you for signing up with Poodll! Below are your API credentials, setup instructions, and member dashboard account details.

======================================================================
1. ON YOUR MOODLE SITE
======================================================================
Enter your API user and secret in the settings page of each Poodll
plugin that you install.

  • Registered Site : {{#startsiteurl}}{{{startsiteurl}}}{{/startsiteurl}}{{^startsiteurl}}[ Please register your site at the dashboard ]{{/startsiteurl}}
  • API User        : {{apiuser}}
  • API Secret      : {{apisecret}}

Useful Links:
  • Poodll Plugins Set : https://marketplace.moodle.com/sets/13
  • Getting Started    : https://support.poodll.com/en/support/solutions/articles/19000093860-getting-started-with-poodll

======================================================================
2. POODLL MEMBER DASHBOARD
======================================================================
On the Poodll Member Dashboard you can register site URLs, upgrade
your subscription, manage invoices, and check your Poodll usage report.

Login with either your username or registered email, and your password.

  • Dashboard URL    : https://member.poodll.com/my/
  • Username         : {{username}}
  • Registered Email : {{email}}
  • Password         : {{password}}

======================================================================
NEED HELP?
======================================================================
If you have any questions, feel free to contact:
support@poodll.freshdesk.com

Justin Hunt
The Poodll Guy
