  <nav id="dashboard-side-navigation">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link my-school-details-link" href="#myschools">{{#str}}myschools, block_poodllclassroom{{/str}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link billing-link" href="#billing">{{#str}}billingdetails, block_poodllclassroom{{/str}}</a>
      </li>
    </ul>
  </nav>
