
<section id="edit_school_details_section">
    <section class="dashboard-account-menu">
         {{> block_poodllclassroom/dashboardbackwardsnavigation}}
    </section>
    <section class="main_page_sections">
        <h2 class="edit_school_fake_title">{{#str}}editmyschool, block_poodllclassroom{{/str}}</h2>
        <!--div class="block_poodllclassroom_schooldetails_instructions">
            {{#str}}schooldetails_instructions, block_poodllclassroom{{/str}}
        </div-->
    
    <div class="help_tooltip">
        <div class="help_tooltip_arrow"></div>
        <div class="help_tooltip_body">
            <p>Each site URL should begin with <strong>https://</strong>.</p>
            <hr>
            <p>It is not necessary to add subdirectories.</p>
            <hr>
            <p>You can use a wildcard in place of a subdomain if you have several subdomains.</p>
        </div>
    </div>

