<div id="block_poodllclassroom_signupthanks_cont" class="block_poodllclassroom_signupthanks_cont center block_poodllclassroom_flexbox">
    <div id="block_poodllclassroom_signupthanksvideo" class="block_poodllclassroom_signupthanksvideo">
        {{> block_poodllclassroom/signupthanksvideo}}
    </div>
    <div id="block_poodllclassroom_signupthanksform" class="block_poodllclassroom_signupthanksform">
        {{> block_poodllclassroom/signupthanksform}}
    </div>
</div>