{{{maxuserslabel}}}
<div class="block_poodllclassroom_userheader block_poodllclassroom_flexbox">
    {{{createuserbutton}}} {{{uploaduserbutton}}}
</div>
<div id="block_poodllclassroom_subslist_cont" class="block_poodllclassroom_subslist_cont" style="display: {{display}};">
    <h3 class="block_poodllclassroom_allschoolsubs">{{#str}}allschoolsubs, block_poodllclassroom{{/str}}</h3>
    {{{checkoutbutton}}}
    <table class="generaltable block_poodllclassroom_subslist_table" id="{{tableid}}">
        <thead>
        <tr>
            <th class="header c0 subname" style="" scope="col">{{#str}}subname, block_poodllclassroom{{/str}}</th>
            <th class="header c1 subperiod" style="" scope="col">{{#str}}subperiod, block_poodllclassroom{{/str}}</th>
            {{#show_expiretime}} <th class="header c2" style="" scope="col">{{#str}}subrenewexpiretime, block_poodllclassroom{{/str}}</th>{{/show_expiretime}}
            {{#show_payment}} <th class="header c3" style="" scope="col">{{#str}}subcurrency, block_poodllclassroom{{/str}}</th>{{/show_payment}}
            {{#show_payment}} <th class="header c4" style="" scope="col">{{#str}}subpayment, block_poodllclassroom{{/str}}</th>{{/show_payment}}
            {{#show_status}} <th class="header c5" style="" scope="col">{{#str}}status, block_poodllclassroom{{/str}}</th>{{/show_status}}
            <th class="header c6 date" style="" scope="col">{{#str}}timecreated, block_poodllclassroom{{/str}}</th>
            <th class="header c7 edit" style="" scope="col">{{#str}}action, block_poodllclassroom{{/str}}</th>
            <th class="header c8 lastcol renew" style="" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#subs}}
            {{> block_poodllclassroom/subslistrow}}
        {{/subs}}
        {{#nosubs}}
            {{#show_expiretime}}
               {{#show_payment}}
                   <tr><td colspan="8">{{#str}}nosubs, block_poodllclassroom{{/str}}</td></tr>
               {{/show_payment}}
               {{^show_payment}}
                   <tr><td colspan="6">{{#str}}nosubs, block_poodllclassroom{{/str}}</td></tr>
               {{/show_payment}}
            {{/show_expiretime}}
            {{^show_expiretime}}
                <tr><td colspan="5">{{#str}}nosubs, block_poodllclassroom{{/str}}</td></tr>
            {{/show_expiretime}}
        {{/nosubs}}
        </tbody>
    </table>
</div>