<tr id="block_poodllclassroom_subs_row_{{id}}" class="block_poodllclassroom_subs_row" data-id="{{id}}">
    <td class="itemid cell c0" style="">{{plan.name}}</td>
    <td class="itemname cell c1" style="">{{plan.period_display}}</td>
    <td class="itemdate cell c2" style="">{{timecreated_display}}</td>
    <td class="itemedit cell c3" style="">
        <a class="block_poodllclassroom_subseditlink" data-id="{{id}}" data-type="change" href="{{{changeurl}}}">{{#str}}change, block_poodllclassroom{{/str}}</a>
    </td>
    <td class="renew cell c4 lastcol" style="">
        {{^isresold}}
            <!-- a href="{{{editurl}}}" class="block_poodllclassroom_userenewlink" data-id="{{id}}" data-name="{{subname}}" data-type="edit">{{#str}}edit, block_poodllclassroom{{/str}}</a> -->
        {{/isresold}}
    </td>
</tr>