<tr id="block_poodllclassroom_subs_row_{{id}}" class="block_poodllclassroom_subs_row" data-id="{{id}}">
    <td class="itemid cell c0" style="">{{plan.name}}</td>
    <td class="itemname cell c1" style="">{{plan.period_display}}</td>
    {{#paymentcurr}} <td class="itemcurrency cell c3" style="">{{paymentcurr}}</td>{{/paymentcurr}}
    {{#payment_display}} <td class="itempayment cell c4" style="">{{payment_display}}</td>{{/payment_display}}
    {{#status_display}} <td class="itemstatus cell c5" style="">{{{status_display}}}</td>{{/status_display}}
    <td class="itemdate cell c6" style="">{{timecreated_display}}</td>
    {{#expiretime_display}} <td class="itemdate cell c2" style="">{{expiretime_display}}</td>{{/expiretime_display}}
    <td class="itemedit cell c7" style="">
    {{#intrial}}
        <a class="block_poodllclassroom_subseditlink btn btn-success" data-cbaction='none' data-id="{{id}}" data-type="change" href="{{{changeurl}}}">{{#str}}upgradeplan, block_poodllclassroom{{/str}}</a>
    {{/intrial}}
    {{^intrial}}
        <!-- a class="block_poodllclassroom_subseditlink btn btn-secondary" data-cbaction='none' data-id="{{id}}" data-type="change" href="{{{changeurl}}}">{{#str}}changeplan, block_poodllclassroom{{/str}}</a -->
    {{/intrial}}
        <a class="block_poodllclassroom_subsmanagelink btn btn-secondary" data-cbaction='ssp' data-id="{{id}}" data-upstreamsubid="{{upstreamsubid}}" data-upstreamownerid="{{school.upstreamownerid}}" data-type="subdetails" href="#">{{#str}}managesub, block_poodllclassroom{{/str}}</a>
        {{#editsuburl}}
            <!-- admins will see a little icon here .. to change upstream sub id mainly -->
            {{{editsuburl}}}
        {{/editsuburl}}
    </td>
    <td class="renew cell c8 lastcol" style="">
    <!-- nothing here -->
    </td>
</tr>