<div class="block_poodllclassroom_thanksheader">
    <div class="center"><h3>Thank You</h3></div>
    <div class="center">If this is a new subscription, and you have not logged in to your app.poodll.net school yet, then you should check the email account you used when checking out. It will contain the username, password and URL that you need to login in. Contact Poodll Support if you need help: <a href="mailto:support@poodll.freshdesk.com">support@poodll.freshdesk.com</a></div>
    <br>
    <div class="center">For existing users you can access your dashboard as usual at: <a class="btn btn-secondary" href="{{dashboardurl}}">Dashboard</a></div>
</div>