<div class="poodllnet-settings text-center">
    <div class="poodllnet_settings_button_container">
        {{#settings}}
       {{>block_poodllclassroom/settingstile}}
         {{/settings}}
    </div>
</div>