<div class="block_poodllclassroom_billingheader {{billinginterval}} {{display}}"><h3>{{billingintervallabel}}</h3></div>
<div id="block_poodllclassroom_upgrades_cont" class="block_poodllclassroom_upgrades_cont center block_poodllclassroom_flexbox {{billinginterval}} {{display}}">
    {{#plans}}
            {{> block_poodllclassroom/upgradetile}}
        {{/plans}}
</div>
