
<div id="block_poodllclassroom_upgrades_cont" class="block_poodllclassroom_upgrades_cont center {{billinginterval}}" style="display: {{display}};">
        {{#plans}}
            {{> block_poodllclassroom/upgradetile}}
        {{/plans}}
</div>
