<div id="block_poodllclassroom_upgradeitem_{{id}}" class="block_poodllclassroom_changeplan_cont">
    {{#selected}}
        <a href="#" class="btn btn-secondary block_poodllclassroom_changeplan block_poodllclassroom_gocbcheckout block_poodllclassroom_flexbox disabled" {{#selected}}tabindex="-1"{{/selected}}
           data-method="get_checkout_existing" data-planid="{{id}}" data-schoolid="{{schoolid}}" data-currentsubid="{{currentsubid}}"  data-currency="{{currency}}" data-billinginterval="{{billinginterval}}">{{#str}}changeplan, block_poodllclassroom{{/str}}</a>
          <div class="block_poodllclassroom_currentplan">{{#selected}}{{#str}}yourcurrentplan, block_poodllclassroom{{/str}}{{/selected}}</div>
    {{/selected}}
    {{^selected}}
        <a href="#" class="btn btn-primary block_poodllclassroom_changeplan block_poodllclassroom_gocbcheckout block_poodllclassroom_flexbox {{#disabled}}disabled{{/disabled}}" {{#selected}}tabindex="-1"{{/selected}}
           data-method="get_checkout_existing" data-planid="{{id}}" data-schoolid="{{schoolid}}" data-currentsubid="{{currentsubid}}"  data-currency="{{currency}}" data-billinginterval="{{billinginterval}}">{{#str}}changeplan, block_poodllclassroom{{/str}}</a>
    {{/selected}}
</div>