<div id="block_poodllclassroom_upgradeitem_{{id}}" class="block_poodllclassroom_changeplan_cont" style="border: 1px solid black; width: 200px; padding: 15px;">
    <div class="block_poodllclassroom_planname">{{name}}</div>>
    <div class="block_poodllclassroom_billinginterval">{{billingintervalname}}</div>>
    <div class="block_poodllclassroom_price">{{price}}</div>>
    <div class="block_poodllclassroom_description">{{description}}</div>>
   <a href="#" class="block_poodllclassroom_changeplan" data-planid="{{upstreamplanid}}" >{{#str}}changeplan, block_poodllclassroom{{/str}}</a>
</div>