<tr id="block_poodllclassroom_user_row_{{id}}" class="block_poodllclassroom_user_row" data-id="{{id}}">
    <td class="itemid cell c0" style="">{{firstname}}</td>
    <td class="itemname cell c1" style="">{{lastname}}</td>
    <td class="itemdate cell c2" style="">{{lastaccess}}</td>
    <td class="itemedit cell c3" style="">
        <a href="#" class="block_poodllclassroom_usereditlink" data-id="{{id}}" data-type="edit">{{#str}}edit, block_poodllclassroom{{/str}}</a>
    </td>
    <td class="delete cell c4 lastcol" style="">
        {{^isme}}
            <a href="#" class="block_poodllclassroom_userdeletelink" data-id="{{id}}" data-name="{{firstname}} {{lastname}}" data-type="delete">{{#str}}delete, block_poodllclassroom{{/str}}</a>
        {{/isme}}
    </td>
</tr>