<div id="block_poodllclassroom_userlist_cont" class="block_poodllclassroom_userlist_cont" style="display: {{display}};">
<table class="generaltable block_poodllclassroom_userlist_table" id="{{tableid}}">
    <thead>
    <tr>
        <th class="header c0 firstname" style="" scope="col">{{#str}}firstname, block_poodllclassroom{{/str}}</th>
        <th class="header c1 lastname" style="" scope="col">{{#str}}lastname, block_poodllclassroom{{/str}}</th>
        <th class="header c2 date" style="" scope="col">{{#str}}lastaccess, block_poodllclassroom{{/str}}</th>
        <th class="header c3 edit" style="" scope="col">{{#str}}action, block_poodllclassroom{{/str}}</th>
        <th class="header c4 lastcol delete" style="" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#items}}
    {{> block_poodllclassroom/userlistrow}}
    {{/items}}
    </tbody>
</table>
</div>